ind_1	1	pop_1
ind_2	1	pop_1
ind_3	1	pop_1
ind_4	2	pop_1
ind_5	2	pop_1
ind_1	1	pop_2	fam42
ind_2	1	pop_2
ind_3	1	pop_2	fam25
ind_4	2	pop_2
ind_5	2	pop_2
ind_1	1	pop_3	You can write anything, I don't care
ind_2	1	pop_3
ind_3	1	pop_3
ind_4	2	pop_3
ind_5	2	pop_3
